<div *ngIf="listitem">
  <h2>{{listitem.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{listitem.id}}</div>
  <div>
    <label for="item-name">Title of task: </label>
    <input id="item-name" [(ngModel)]="listitem.name" placeholder="title">
  </div>
  <div>
    <label for="item-content">Description of task: </label>
    <input id="item-content" [(ngModel)]="listitem.content" placeholder="description">
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="delete(listitem)">go back</button>
</div>

